[submodule "src/temp/DallasTemp"]
	path = src/temp/DallasTemp
	url = git@github.com:AvatarSD/Arduino-Temperature-Control-Library.git
[submodule "src/temp/OneWire"]
	path = src/temp/OneWire
	url = git@github.com:AvatarSD/OneWire.git
[submodule "src/settings/polymorphmemory"]
	path = src/settings/polymorphmemory
	url = git@github.com:AvatarSD/polymorphmemory.git
[submodule "src/net"]
	path = src/net
	url = git@github.com:AvatarSD/usi-i2c-slave-withserver.git
